#!/usr/bin/env nextflow

process {

/* Executor parameters */
name = 'local'
/* maximum number of CPUs made available by the underlying system */
	cpus = 12
//		errorStrategy='retry'
//		errorStrategy = 'ignore'

}

/* Docker params, comment to run without docker*/

process.container = 'nextflow/rnaseq-nf'
docker.runOptions = '-u $(id -u):$(id -g)'
docker.enabled = true